<div class="most-recent">
	<h2>Most Recently</h2>
	<div class="game">
		<% most_recent.teams.each_with_index do |team, index| %>
			<div class="team<% if team.players.count == 2 %> doubles<% end %>">
				<% team.players.each do |player| %>
					<% rating = @player_ratings.detect { |r| r.team.identifier == player.id.to_s } %>
  				<% rank = @player_ratings.index(rating) %>
  				<% rhe = most_recent.rating_history_events.detect { |rh| rh.rating.team.players.include? player }%>
		  			<div class="player">
			    		<span class="rank"><%= rank + 1 %></span>
              <span class="rating"><%= rhe.change > 0 ? "+#{rhe.change}" : rhe.change %></span>
			  			<%= image_tag(gravatar_url(player, :size => 250)) %>
			  			<h3><a href="<%= player_game_path(player, @game) %>"><%= player.name %></a></h3>
		  			</div>
				<% end %>
	  		</div>
		  	<% if index == 0 %>
	  		<div class="versus">
	  			<div class="versus-text">versus</div>
	  		</div>
		  	<% end %>
		<% end %>
	</div>
</div>