<div class="pure-g">
  <div class="pure-u-1">
    <h1>Mark your victory</h1>
    <%= form_for [@game, @result], html: { id: 'victory' } do |f| %>
    
      <%= f.error_messages %>

      <% @result.teams.each.with_index do |team, index| %>
        <div class="pure-u-1-2">
          <h2>Team <%= index + 1 %></h2>
          <%= select "result[teams][#{index}]", "players", player_options, {:include_blank => ''}, :class => "players", :multiple => @game.max_number_of_players_per_team != 1, "data-placeholder" => "Players in team #{index + 1}..." %>
          
          <% if index != @result.teams.size - 1 %>
            <%= select "result[teams][#{index}]", :relation, [["defeated team #{index + 2}", "defeats"], ["ties with team #{index + 2}", "ties"]], {} %>
          <% end %>
        </div>
      <% end %>

      <fieldset class="submit-fieldset class pure-u-1">
        <%= f.submit :class => "pure-button pure-button-primary" %>
      </fieldset>

    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(".players").chosen();
<% end %>
