<div class="pure-g">
  <div class="pure-u-1">
     <h1><%= @team.name %></h1>
     <h2><%= @team.ratings.find_by_game_id(@game).value %></h2>

      <% if @team.players.length > 1 && @team.players.select{ |p| p.id == current_player.id }.any? %>
        <%= link_to "change name", edit_team_path(@team), :class => "pure-button pure-button-primary" %>
      <% end %>
  </div>
</div>


<div class="pure-g" id="match-feed">
  <div class="pure-u-1">
    <h2>Match Feed</h2>
      <% if @recent_results.any? %>
        <%= render :partial => 'shared/game_feed', :object => @recent_results %>
      <% else %>
        <p>No matches have been recorded.</p>
      <% end %>
  </div>
</div>

<div class="chart-wrapper">
  <div id="chart-ten" style="height:200px"></div>
</div>
<div class="chart-wrapper">
  <div id="chart-all" style="height:200px"></div>
</div>


<script>
  (function(){

    var chartData = <%= @team.ratings.where(game_id: 1).first.history_events.limit(10).pluck(:value).reverse %>;
    function createChart() {
        $("#chart-ten").kendoChart({
            title: {
              text: 'Rating History (Last 10)'
            },
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                type: "line",
                style: "smooth"
            },
            series: [{
                data: chartData,
                labels: {
                  visible: true
                }

            }],
            valueAxis: {
                majorGridLines: {
                  visible: false
                },

                labels: {
                    visible: false
                },
                line: {
                    visible: false
                }
            },
            categoryAxis: {
                majorGridLines: {
                  visible: false
                },
                line: {
                    visible: false
                }                  
              },
            tooltip: {
              visible: false
            }
        });
    }

    $(document).ready(createChart);
  })();
</script>

<script>
  (function(){

    var chartData = <%= Team.find(params[:team_id]).ratings.where(game_id: 1).first.history_events.reorder('created_at ASC').pluck(:value) %>;
    function createChart() {
        $("#chart-all").kendoChart({
            title: {
              text: 'Rating History (Complete)'
            },
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                type: "line",
                style: "smooth"
            },
            series: [{
                data: chartData,
                type: 'area'
            }],
            valueAxis: {
                majorGridLines: {
                  visible: false
                },

                labels: {
                    visible: false
                },
                line: {
                    visible: false
                }
            },
            categoryAxis: {
                majorGridLines: {
                  visible: false
                },
                line: {
                    visible: false
                }                  
              },
            tooltip: {
              visible: false
            }
        });
    }

    $(document).ready(createChart);
  })();
</script>
