<tr>
	<td><%= rating_counter + 1 %></td>
	
	<td>
	  <% if rating.player %>
      <%= image_tag(gravatar_url(rating.player, :size => 40)) %>
    	<%= link_to rating.player.name, player_game_path(rating.player, @game) %>
  	<% else %>
      <%= link_to rating.team.name, team_game_path(rating.team, @game) %>
  	<% end %>
	</td>
	<td><%= rating.player ? rating.player.results.count : rating.team.results.count %></td>
	<td><%= rating.value %></td>
	
</tr>
