<header class="pure-g">
  <div class="pure-u-1">
    <h1><%= @game.name %></h1>
    <%= link_to "Record a Game", new_game_result_path(@game), :class => "pure-button pure-button-primary" %>
  </div>
</header>

<div class="pure-g">
  <div class="pure-u-1">
    <% if @recent_results.any? %>
      <%= render :partial => 'shared/most_recent', :object => @recent_results.shift %>
    <% end %>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
      <h2>Player Rank</h2>
      <% if @all_ratings.any? %>
        <ol>
         <%= render :partial => 'rating', :collection => @all_ratings.select(&:active?) %>
        <ol>
      <% else %>
        <p>
          There are no ranked players.
        </p>        
      <% end %>
  </div>
</div>

<div class="pure-g" id="match-feed">
  <div class="pure-u-1">
    <h2>Match Feed</h2>
      <% if @recent_results.any? %>
        <%= render :partial => 'shared/game_feed', :object => @recent_results %>
      <% else %>
        <p>No matches have been recorded.</p>
      <% end %>
  </div>
</div>