<h1>Sign in</h1>

<div class="pure-g">
  <div class="pure-u-1">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset>
        <%= f.label :email %>
        <%= f.email_field :email, required: "required", autofocus: true %>
      </fieldset>
      <fieldset>
        <%= f.label :password %>
        <%= f.password_field :password, required: "required" %>
      </fieldset>
    <% if devise_mapping.rememberable? -%>
      <fieldset class="inline-fieldset">
        <%= f.check_box :remember_me %>
        <%= f.label :'remember me' %>
      </fieldset>
    <% end -%>
      <fieldset class="submit-fieldset">
        <button class="pure-button pure-button-primary" type="submit">Sign in</button>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </fieldset>
    <% end %>
  </div>
</div>